@model sams.Models.ShoppingCenterListViewModel

@{
    ViewData["Title"] = "shopping_center_list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function loadPropertiesSatewise() {
        var stateId = $("#selState").val();
        location.href = "shopping_center_list?stateId=" + stateId;
        return false;
    }
</script>

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_surplus">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3 style="text-transform: uppercase;">Shopping Center List</h3>
                    <p>View All Shopping centers</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- where_togo_area_start  -->
<div class="where_togo_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="form_area">
                    <h3 style="text-align:right; ">Find Your Perfect Location</h3>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="search_wrap">
                    <div class="search_form">
                        <div class="input_field" style="text-align:center;">

                            <select id="selState">
                                <option value="0">All Properties</option>



                                @foreach (var stateItem in Model.StateList)
                                {
                                    @if (stateItem.StateId.ToString() == Context.Request.Query["stateId"])
                                    {
                                        <option value="@stateItem.StateId" selected>@stateItem.StateName</option>
                                    }
                                    else
                                    {
                                        <option value="@stateItem.StateId">@stateItem.StateName</option>
                                    }

                                }

                            </select>

                        </div>

                    </div>
                </div>
            </div>




            <div class="col-lg-4">
                <div class="search_wrap">

                    <div class="search_btn">
                        <button class="boxed-btn4 " onclick="loadPropertiesSatewise()">Property Search</button>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>
</div>
<!-- where_togo_area_end  -->



<div class="popular_places_area">
    <div class="container">


        


        <div class="row">

            <div class="col-lg-12">

                <div class="row">


                    @if (Model.ShoppingCenterList.Count == 0)
                    {
                        <div class="roundbox boxshadow" style="width: 100%; border: solid 1px #1c1c1c; margin-top:8px;">
                            <div class="gridheader">

                                <h5 class="footer_title" style="color:#ffffff;">
                                    Notice
                                </h5>

                            </div>
                            <div class="boxcontent_list" style="">

                                <div class="single_place" style="border:1px solid #dcd3d3; text-align:center; padding:20px;">
                                    No Data Found
                                </div>

                            </div>
                        </div>
                    }

                    @foreach (var sProperties in Model.ShoppingCenterList)
                    {
                        <div class="col-lg-3 col-md-4">




                            <a style="text-decoration:none" href="ViewShoppingCenter?centerId=@sProperties.ShoppingCenterId">
                                <div class="roundbox boxshadow" style="width: 100%; border: solid 1px #1c1c1c; margin-top:8px;">
                                    <div class="gridheader">

                                        <h5 class="footer_title" style="color:#ffffff;">
                                            @sProperties.ShoppingCenterName

                                        </h5>

                                    </div>
                                    <div class="boxcontent_list" style="">

                                        <div class="single_place" style="border:1px solid #dcd3d3;">
                                            <div class="thumb">

                                                <img src="~/@sProperties.ImageList[0].ImageName" alt="@sProperties.ShoppingCenterName">

                                            </div>
                                            <div class="place_info">


                                                <p><h4><b>Price: $</b>@sProperties.RentAmount</h4> </p>
                                                <p><b>Asset Type: </b>@sProperties.PropertyTypeName</p>

                                                <p><b>City: </b>@sProperties.CityName</p>
                                                <p><b>State: </b>@sProperties.StateName</p>


                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </a>





                        </div>
                    }

                </div>



            </div>


        </div>
    </div>
</div>











