@model sams.Models.NetleaseRealEstateViewModel
@using sams.Common;
@{
    ViewData["Title"] = "net_lease_properties";
}

<script>
    function loadPropertiesSatewise() {
        var stateId = $("#selState").val();
        location.href = "shopping_center_list_state_wise?stateId=" + stateId;
        return false;
    }
</script>

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_surplus">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3 style="text-transform: uppercase;">Shopping Center List</h3>
                    <p>Shopping Center List</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- where_togo_area_start  -->
<div class="where_togo_area">
    <div class="container">
        <div class="row align-items-center">


            <div class="col-lg-4">
                <div class="form_area">
                    <h3 style="text-align:right; ">Find Your Perfect Location</h3>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="search_wrap">
                    <div class="search_form">
                        <div class="input_field" style="text-align:center;">

                            <select id="selState">
                                <option value="0">All Properties</option>



                                @foreach (var stateItem in Model.StateList)
                                {
                                    @if (stateItem.StateId.ToString() == Context.Request.Query["stateId"])
                                    {
                                        <option value="@stateItem.StateId" selected>@stateItem.StateName</option>
                                    }
                                    else
                                    {
                                        <option value="@stateItem.StateId">@stateItem.StateName</option>
                                    }

                                }

                            </select>

                        </div>

                    </div>
                </div>
            </div>




            <div class="col-lg-4">
                <div class="search_wrap">

                    <div class="search_btn">
                        <button class="boxed-btn4 " onclick="loadPropertiesSatewise()">Property Search</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- where_togo_area_end  -->



<div class="popular_places_area">
    <div class="container">


        <div class="row">
            <div class="col-lg-12">


                <div>
                    <h3 class="footer_title text-center">
                        <b>Net lease properties/Shopping Centers</b>
                    </h3>

                    <p>
                        Sam’s Holdings<sup style="font-size: 7px; vertical-align:middle;">SM</sup>, LLC sometimes sells net leased, single tenant facilities that are ideal for 1031 exchanges.
                        If you want a stable and exciting real estate investment opportunity that also generates passive income, check
                        out our list of net lease properties.  Let’s see if there is something for you!
                    </p>
                    <!--
                    <p>
                        <b>Note for real estate agents: </b>
                        We offer a “finder’s fee” of $40,000 or 3% of the sales price, whichever is less, to a cooperating, licensed real estate agent.
                    </p>
                    -->
                </div>

            </div>
        </div>

        <hr />


        <div class="row">

            <div class="col-lg-12">

                <div class="row">


                    @if (Model.NetLeasePropertyList.Count == 0)
                    {
                        <div class="roundbox boxshadow" style="width: 100%; border: solid 1px #1c1c1c; margin-top:8px;">
                            <div class="gridheader">

                                <h5 class="footer_title" style="color:#ffffff;">
                                    Notice
                                </h5>

                            </div>
                            <div class="boxcontent_list" style="">

                                <div class="single_place" style="border:1px solid #dcd3d3; text-align:center; padding:20px;">
                                    No Data Found
                                </div>

                            </div>
                        </div>
                    }



                    @foreach (var sProperties in Model.NetLeasePropertyList)
                    {
                        string numericPropertyPrice = new String(sProperties.PropertyPrice.Where(Char.IsDigit).ToArray());
                        string numericAskingRent = new String(sProperties.AskingRent.Where(Char.IsDigit).ToArray());

                        if (sProperties.AskingRent.Length > 12)
                        {
                            sProperties.AskingRent = sProperties.AskingRent.Substring(0, 12) + "..";
                        }

                        if (sProperties.PropertyPrice.Length > 12)
                        {
                            sProperties.PropertyPrice = sProperties.PropertyPrice.Substring(0, 12) + "..";
                        }

                        <div class="col-lg-3 col-md-4">




                            <a style="text-decoration:none" href="ViewNetLeaseProperty?propertyId=@sProperties.NetleasePropertyId">
                                <div class="roundbox boxshadow" style="width: 100%; border: solid 1px #1c1c1c; margin-top:8px;">
                                    <div class="gridheader">

                                        <h5 class="footer_title" style="color:#ffffff; text-transform: uppercase; ">
                                            @sProperties.AssetName

                                        </h5>

                                    </div>
                                    <div class="boxcontent_list" style="">

                                        <div class="single_place" style="border:1px solid #dcd3d3;">
                                            <div class="thumb">

                                                <img src="~/@sProperties.ImageList[0].ImageName" alt="@sProperties.AssetName">

                                            </div>
                                            <div class="place_info">

                                                @{
                                                    if (sProperties.AssetTypeName == "Lease")
                                                    {
                                                        <p><b>Rent: </b>@sProperties.AskingRent </p>
                                                    }
                                                    else
                                                    {
                                                        <p><b>Price: </b>@sProperties.PropertyPrice </p>
                                                    }
                                                }

                                                <p><b>Asset Type: </b> @sProperties.AssetTypeName</p>
                                                <p><b>Address: </b>@sProperties.Address</p>
                                                <p><b>City: </b>@sProperties.City</p>
                                                <p><b>State: </b>@sProperties.StateName</p>
                                                <p><b>ZIP Code: </b>@sProperties.ZipCode</p>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </a>





                        </div>
                    }




                </div>



            </div>


        </div>
    </div>
</div>










