@model sams.Models.CStoreViewModel
@using sams.Common; 
@{
    ViewData["Title"] = "ViewCStore";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var propertyLati = sams.Common.Helper.SamsLatitude;
    var propertyLong = sams.Common.Helper.SamsLongitude;

    if (Model.Latitude.Trim().Length > 0)
    {
        propertyLati = Model.Latitude.Trim();
    }

    if (Model.Longitude.Trim().Length > 0)
    {
        propertyLong = Model.Longitude.Trim();
    }

    /*
    string numericAskingPrice = new String(Model.AskingPrice.Where(Char.IsDigit).ToArray());
    string numericAskingRent = new String(Model.AskingRent.Where(Char.IsDigit).ToArray());
    */

    if (Model.AssetTypeId != (int)SamAssetType.Lease)
    {
        string numericAskingPrice = new String(Model.AskingPrice.Where(Char.IsDigit).ToArray());
        //Model.AskingPrice = Helper.FormatCurrency("$", numericAskingPrice);
    }

    if (Model.AssetTypeId == (int)SamAssetType.FeeSubjectToLease)
    {
        string numericRentalIncome = new String(Model.RentalIncome.Where(Char.IsDigit).ToArray());
        //Model.RentalIncome = Helper.FormatCurrency("$", numericRentalIncome);
    }
}




    <script>
        function doRegisterNow(propertyId) {
            location.href = "RegisterNewCustomer?propertyId=" + propertyId;
        }
    </script>

        



        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByxJE-OM4Lv77gVdAYJAfKOiDpD6H9ofg&v=3.exp&sensor=false&libraries=places"></script>
<script>
                                                    function initialize() {
                                                        var marker;





                                                        var mapOptions = {
                                                            center: new google.maps.LatLng(@propertyLati, @propertyLong),
                                                            zoom: 10,
                                                            mapTypeId: google.maps.MapTypeId.ROADMAP

                                                        };
                                                        map = new google.maps.Map(document.getElementById('map_canvas'),
                                                            mapOptions);

                                                        var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
                                                        var ig = '../img/map/map_red.png';

                                                        marker = new google.maps.Marker({
                                                            // The below line is equivalent to writing:
                                                            // position: new google.maps.LatLng(-34.397, 150.644)

                                                            /*
                                                            icon: {
                                                                path: google.maps.SymbolPath.CIRCLE,
                                                                scale: 10,
                                                                strokeColor: '#939'
                                                            },
*/
                                                            icon: ig,
                                                            
                                                            position: { lat: @propertyLati, lng: @propertyLong },
                                                            map: map
                                                        });



                                                        autocomplete.bindTo('bounds', map);



                                                        var infowindow = new google.maps.InfoWindow();
                                                        marker = new google.maps.Marker({
                                                            map: map
                                                        });







                                                        // Sets a listener on a radio button to change the filter type on Places
                                                        // Autocomplete.
                                                        function setupClickListener(id, types) {
                                                            var radioButton = document.getElementById(id);
                                                            google.maps.event.addDomListener(radioButton, 'click', function () {


                                                                autocomplete.setTypes(types);
                                                            });
                                                        }

                                                        setupClickListener('changetype-all', []);
                                                        setupClickListener('changetype-establishment', ['establishment']);
                                                        setupClickListener('changetype-geocode', ['geocode']);

                                                    }

                                                    google.maps.event.addDomListener(window, 'load', initialize);



</script>

<div class="bradcam_area" id="map_canvas" style="height:350px;">



</div>










<div class="recent_trip_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="footer_title" style="margin-top: 0px; color: #57328E;">
                    <b>@Model.PropertyHeader @Model.PropertyHeaderLine2</b>
                </h1>
                <hr style="border-top: 1px solid #c31425;" />
            </div>

        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_trip">

                    <!--
                            @foreach (var imgItem in Model.ImageList)
                            {
                                <div class="thumb" style="margin-top:5px; margin-bottom:5px;">
                                    <img src="@Url.Content("~/" + imgItem.ImageName)" alt="@Model.PropertyHeader">
                                </div>
                            }
        -->
                    <!--
                            <div class="thumb" style="margin-top:5px; margin-bottom:5px;">
                                <img src="@Url.Content("~/" + Model.ImageList[0].ImageName)" alt="@Model.PropertyHeader">
                            </div>
        -->
                    <div class="roundbox boxshadow" style="width: 100%; border: solid 1px #1c1c1c">
                        <div class="gridheader">

                            <h4 class="footer_title" style="color:#ffffff;">
                                Contact For Additional Information
                            </h4>

                        </div>
                        <div class="boxcontenttext" style="">
                            <p>
                                @Model.MySettings.RealEstateDirectorName
                            </p>
                            <p>
                                Real Estate Director
                            </p>
                            <p>
                                Direct: @Model.MySettings.DirectorPhoneNumber
                            </p>
                            <p>
                                <a href="mailto:@Model.MySettings.DirectorEmailAddress">@Model.MySettings.DirectorEmailAddress</a>
                            </p>
                        </div>
                    </div>



                </div>

                <script>
                    function goBack() {
                        window.history.back();
                    }
                </script>
                <a href="javascript:goBack()" class="boxed-btn4" style="color:white;">Back To List</a>

            </div>
            <div class="col-lg-8 col-md-12" style="border-top: 1px dotted #fff;">
                
                <div class="row gallery-item">

                    @foreach (var imgItem in Model.ImageList)
                    {

                        <div class="col-md-3" style="padding-left:1px; padding-right:1px;">
                            <a href="@Url.Content("~/" + imgItem.ImageName)" class="img-pop-up">
                                <div class="single-gallery-image  roundbox boxshadow" style="background: url(@Url.Content("~/" + imgItem.ImageName)); margin: 4px; height:100px;"></div>
                            </a>
                        </div>
                    }


                </div>

                <div class="single_trip">


                    <div class="row_inner">
                        <div class="column_inner_left">
                            <b>Asset # : </b>
                        </div>
                        <div class="column_inner_right">
                            @Model.AssetId
                        </div>

                    </div>

                    <div class="row_inner">
                        <div class="column_inner_left">
                            <b>Asset Type :  </b>
                        </div>
                        <div class="column_inner_right">
                            @Model.AssetTypeName
                            @if (Model.AssetTypeId == 1 || Model.AssetTypeId == 6)
                            {
                                <div class="card card-info">
                                    <div class="card-body" id="divAssetType">

                                        <div class="row">
                                            <div class="col-4">
                                                <label asp-for="Term" class="control-label">Term : </label>
                                            </div>
                                            <div class="col-8">
                                                @Model.Term
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-4">
                                                @if (Model.AssetTypeId == 6)
                                                {
                                                    <label asp-for="AskingRent" class="control-label">Rent : </label>
                                                }
                                                else
                                                {
                                                    <label asp-for="AskingRent" class="control-label">Asking Rent : </label>
                                                }
                                            </div>
                                            <div class="col-8">
                                                @Model.AskingRent
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-4">
                                                <label class="control-label">Lease Type : </label>
                                            </div>
                                            <div class="col-8">
                                                @if (Model != null)
                                                {
                                                    foreach (var itemSel in Model.LeaseTypeList)
                                                    {
                                                        if (Model.LeaseType == itemSel.LeaseTypeId)
                                                        {
                                                            @itemSel.LeaseType
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }
                            else if (Model.AssetTypeId == 3)
                            {
                                <div class="card card-info">
                                    <div class="card-body" id="divAssetType">

                                        <div class="row">
                                            <div class="col-4">
                                                <label asp-for="TermOfSupplyContract" class="control-label">Term Remaining : </label>
                                            </div>
                                            <div class="col-8">
                                                @Model.TermRemaining
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-4">
                                                <label asp-for="RentalIncome" class="control-label">Rental Income : </label>
                                            </div>
                                            <div class="col-8">
                                                @Model.RentalIncome
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-4">
                                                <label class="control-label">Lease Type : </label>
                                            </div>
                                            <div class="col-8">
                                                @if (Model != null)
                                                {
                                                    foreach (var itemSel in Model.LeaseTypeList)
                                                    {
                                                        if (Model.LeaseTypeLeaseAndFee == itemSel.LeaseTypeId)
                                                        {
                                                            @itemSel.LeaseType
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }
                            else if (Model.AssetTypeId == 5)
                            {
                                <div class="card card-info">
                                    <div class="card-body" id="divAssetType">

                                        <div class="row">
                                            <div class="col-4">
                                                <label asp-for="TermOptionPurchase" class="control-label">Term : </label>
                                            </div>
                                            <div class="col-8">
                                                @Model.TermOptionPurchase
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-4">
                                                <label asp-for="AskingRentOptionPurchase" class="control-label">Asking Rent : </label>
                                            </div>
                                            <div class="col-8">
                                                @Model.AskingRentOptionPurchase
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-4">
                                                <label class="control-label">Lease Type : </label>
                                            </div>
                                            <div class="col-8">
                                                @if (Model != null)
                                                {
                                                    foreach (var itemSel in Model.LeaseTypeList)
                                                    {
                                                        if (Model.LeaseTypePurchase == itemSel.LeaseTypeId)
                                                        {
                                                            @itemSel.LeaseType
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-4">
                                                <label asp-for="OptionPurchasePrice" class="control-label">Option Purchase Price : </label>
                                            </div>
                                            <div class="col-8">
                                                @Model.OptionPurchasePrice
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }

                        </div>

                    </div>


                    @if (Model.AssetTypeId == 1)
                    {
                        <div class="row_inner">
                            <div class="column_inner_left">
                                <b>Asking Price/ Goodwill : </b>
                            </div>
                            <div class="column_inner_right">
                                @Model.AskingPrice
                            </div>

                        </div>
                    }
                    else if (Model.AssetTypeId == 3)
                    {
                        <div class="row_inner">
                            <div class="column_inner_left">
                                <b>Asking Price : </b>
                            </div>
                            <div class="column_inner_right">
                                @Model.AskingPrice
                            </div>

                        </div>

                        <div class="row_inner">
                            <div class="column_inner_left">
                                <b>Asking Rent : </b>
                            </div>
                            <div class="column_inner_right">
                                @Model.AskingRent
                            </div>

                        </div>




                    }
                    else
                    {
                        <div class="row_inner">
                            <div class="column_inner_left">
                                <b>Asking Price : </b>
                            </div>
                            <div class="column_inner_right">
                                @Model.AskingPrice
                            </div>

                        </div>
                        <!--
                        <div class="row_inner">
                            <div class="column_inner_left">
                                <b>Rent : </b>
                            </div>
                            <div class="column_inner_right">
                                @Model.Rent
                            </div>

                        </div>
                        -->
                    }




                    <div class="row_inner">
                        <div class="column_inner_left">
                            <b>Land Size : </b>
                        </div>
                        <div class="column_inner_right">
                            @Model.LandSize
                        </div>

                    </div>

                    <div class="row_inner">
                        <div class="column_inner_left">
                            <b>Building Area :  </b>
                        </div>
                        <div class="column_inner_right">
                            @Model.BuildingArea
                        </div>

                    </div>

                    @{
                        if (Model.CheckIfOilSupplyContractApplicable == 1)
                        {
                            <div class="row_inner">
                                <div class="column_inner_left">
                                    <b>Fuel Supply Contract : </b>
                                </div>
                                <div class="column_inner_right">
                                    @Model.TermOfSupplyContract
                                </div>
                            </div>
                        }
                    }



                    <div class="row_inner">
                        <div class="column_inner_left">
                            <b>Property Taxes : </b>
                        </div>
                        <div class="column_inner_right">
                            @Model.PropertyTaxes
                        </div>
                    </div>

                    <div class="row_inner">
                        <div class="column_inner_left">
                            <b>Year Built : </b>
                        </div>
                        <div class="column_inner_right">
                            @Model.YearBuilt
                        </div>
                    </div>

                    <div class="row_inner">
                        <div class="column_inner_left">
                            <b>Known Environmental Conditions : </b>
                        </div>
                        <div class="column_inner_right">
                            @Model.KnownEnvironmentalConditions
                        </div>
                    </div>

                    <div class="row_inner">
                        <div class="column_inner_left">
                            <b>EMV Compliance : </b>
                        </div>
                        <div class="column_inner_right">
                            @Model.EMVCompliance
                        </div>
                    </div>

                    <div class="row_inner">
                        <div class="column_inner_left">
                            <b>Hours Of Operation : </b>
                        </div>
                        <div class="column_inner_right">
                            @Model.HoursOfOperation
                        </div>
                    </div>


                    <div class="row_inner">
                        <div class="column_inner_left">
                            <b>Address : </b>
                        </div>
                        <div class="column_inner_right">
                            @Model.Address
                        </div>

                    </div>


                    <div class="row_inner">
                        <div class="column_inner_left">
                            <b>City : </b>
                        </div>
                        <div class="column_inner_right">
                            @Model.City
                        </div>

                    </div>

                    <div class="row_inner">
                        <div class="column_inner_left">
                            <b>State :  </b>
                        </div>
                        <div class="column_inner_right">
                            @Model.StateName
                        </div>

                    </div>

                    <div class="row_inner">
                        <div class="column_inner_left">
                            <b>ZIP Code : </b>
                        </div>
                        <div class="column_inner_right">
                            @Model.Zipcode
                        </div>

                    </div>

                    <div class="row_inner">
                        <div class="column_inner_left">
                            <b>County : </b>
                        </div>
                        <div class="column_inner_right">
                            @Model.County
                        </div>

                    </div>


                    <div class="row_inner">
                        <div class="column_inner_left">
                            <b>Status : </b>
                        </div>
                        <div class="column_inner_right">
                            @Model.SelectedPropertyStatus
                        </div>

                    </div>



                    <div class="row_inner">
                        <div class="column_inner_left">
                            <b>Description : </b>
                        </div>
                        <div class="column_inner_right">
                            @Model.Description
                        </div>

                    </div>



                    @if (Model.GeneralFilesList.Count > 0)
                    {
                        <div class="row_inner">
                            <h3 class="footer_title" style="color: #57328E;">
                                <b>Additional Files</b>
                            </h3>
                            <hr style="border-top: 1px solid #57328E;" />

                            @foreach (var pdfItem in Model.GeneralFilesList)
                            {
                                <div class="col-xl-3 col-md-6 col-lg-3" style="text-align:center;">
                                    <div class="footer_widget">

                                        @{
                                            var fileLogo = "~/../../property_files/file.png";
                                            if (pdfItem.FileName.Contains("pdf"))
                                            {
                                                fileLogo = "~/../../property_files/pdf_logo.jpg";
                                            }
                                            else if (pdfItem.FileName.Contains("jpg"))
                                            {
                                                fileLogo = "~/../../property_files/image_icon.png";
                                            }
                                            else
                                            {
                                                fileLogo = "~/../../property_files/pdf_logo.jpg";
                                            }
                                        }

                                        <div class="instagram_feed">
                                            <a href="@Url.Content("~/" + pdfItem.FileName)" target="_blank">
                                                <div class="single_insta">
                                                    <img src="@Url.Content(fileLogo)" style="width:100px;" />
                                                </div>
                                                <div style="text-align:center;">
                                                    @{
                                                        if (pdfItem.FileType.Length <= 15)
                                                        {
                                                            <label class="control-label" style="color:#c31425; ">@pdfItem.FileType</label>
                                                        }
                                                        else
                                                        {
                                                            <label class="control-label" style="color:#c31425; ">@pdfItem.FileType.Substring(0, 15) ..</label>
                                                        }
                                                    }

                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>


                    }





                    @if (Model.LoggedInUser.CustomerId == 0)
                    {

                        <div class="roundbox boxshadow" style="width: 100%; border: solid 1px #1c1c1c">
                            <div class="gridheader">

                                <h3 class="footer_title" style="color:#ffffff;">
                                    Login to get more details
                                </h3>

                            </div>

                            <div class="boxcontenttext" style="">

                                <form id="UserLogin" name="UserLogin" asp-action="DoLogin" method="post">

                                    <p>
                                        <div class="row">
                                            <div class="col-sm-3" >
                                                <div class="form-group" style="text-align:right;">
                                                    User Name :
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input class="form-control valid" name="UserName" id="UserName" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'User Name'" placeholder="User Name">
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="form-group" style="text-align:right;">
                                                    Password :
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input class="form-control valid" name="Password" id="Password" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" placeholder="Password">
                                                    <input type="hidden" id="LoginPropertyId" name="LoginPropertyId" value="@Model.CStoreId" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-3">

                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <font color='red'>@ViewBag.ErrorMessage</font>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="form-group">

                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <button type="button" class="boxed-btn4" onclick="doLogin()">Login</button>
                                                    <button type="button" class="boxed-btn4" style="margin-top:3px;" onclick="forgotPassword()">Forgot password?</button>

                                                    <!--
                                                        <button type="button" class="boxed-btn4"
                                                                style="background-color:#57328E; margin-top:3px;" onclick="doRegisterNow(@Model.CStoreId)">
                                                            New user? Please register
                                                        </button>
    -->
                                                    <br />
                                                    <a href="javascript:doRegisterNow(@Model.CStoreId)">New user? Please register</a>
                                                </div>
                                            </div>
                                        </div>


                                    </p>

                                </form>


                            </div>

                        </div>
                    }



                    @if (Model.LoggedInUser != null && Model.LoggedInUser.CustomerId > 0 && Model.NDAComplaintsFilesList.Count > 0)
                    {

                        <div class="row_inner">
                            <h3 class="footer_title" style="color: #57328E;">
                                <b>Confidential Data</b>
                            </h3>
                            <hr style="border-top: 1px solid #57328E;" />

                            @foreach (var pdfItem in Model.NDAComplaintsFilesList)
                            {
                                <div class="col-xl-3 col-md-6 col-lg-3" style="text-align:center;">
                                    <div class="footer_widget">

                                        @{
                                            var fileLogo = "~/../../property_files/file.png";
                                            if (pdfItem.FileName.Contains("pdf"))
                                            {
                                                fileLogo = "~/../../property_files/pdf_logo.jpg";
                                            }
                                            else if (pdfItem.FileName.Contains("jpg"))
                                            {
                                                fileLogo = "~/../../property_files/image_icon.png";
                                            }
                                            else
                                            {
                                                fileLogo = "~/../../property_files/pdf_logo.jpg";
                                            }
                                        }

                                        <div class="instagram_feed">
                                            <a href="@Url.Content("~/" + pdfItem.FileName)" target="_blank">
                                                <div class="single_insta">
                                                    <img src="@Url.Content(fileLogo)" style="width:100px;" />
                                                </div>
                                                <div style="text-align:center;">
                                                    @{
                                                        if (pdfItem.FileType.Length <= 15)
                                                        {
                                                            <label class="control-label" style="color:#c31425; ">@pdfItem.FileType</label>
                                                        }
                                                        else
                                                        {
                                                            <label class="control-label" style="color:#c31425; ">@pdfItem.FileType.Substring(0, 15) ..</label>
                                                        }

                                                    }

                                                </div>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            }
                        </div>




                    }



                </div>
            </div>

        </div>
    </div>
</div>












                                    <!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">

    <script>
        function doRegister() {
            var firstName = $("#FirstName").val();
            if (firstName.trim() == "") {
                $("#errFirstName").html("<font color='red'>Please enter First Name</font>");
                $("#FirstName").focus();
                return;
            }
            else {
                $("#errFirstName").html("");
            }

            var lastName = $("#LastName").val();
            if (lastName.trim() == "") {
                $("#errLastName").html("<font color='red'>Please enter Last Name</font>");
                $("#LastName").focus();
                return;
            }
            else {
                $("#errLastName").html("");
            }

            var emailAddress = $("#EmailAddress").val();
            if (emailAddress.trim() == "") {
                $("#errEmailAddress").html("<font color='red'>Please enter Email Address</font>");
                $("#EmailAddress").focus();
                return;
            }
            else {
                $("#errEmailAddress").html("");
            }

            var contactNumber = $("#ContactNumber").val();
            if (contactNumber.trim() == "") {
                $("#errContactNumber").html("<font color='red'>Please enter Contact Number</font>");
                $("#ContactNumber").focus();
                return;
            }
            else {
                $("#errContactNumber").html("");
            }

            var userName = $("#UserName").val();
            if (userName.trim() == "") {
                $("#errUserName").html("<font color='red'>Please enter User Name</font>");
                $("#UserName").focus();
                return;
            }
            else {
                $("#errUserName").html("");
            }

            var password = $("#Password").val();
            if (password.trim() == "") {
                $("#errPassword").html("<font color='red'>Please enter Password</font>");
                $("#Password").focus();
                return;
            }
            else {
                $("#errPassword").html("");
            }

            /*
            var retypePassword = $("#RetypePassword").val();
            if (password.trim() != retypePassword.trim()) {
                $("#errRetypePassword").html("<font color='red'>Password and Retype password are different</font>");
                $("#RetypePassword").focus();
                return;
            }
            else {
                $("#errRetypePassword").html("");
            }
            */


            var fileName = $("#UploadedNDAFile").val();
            if (!fileName) {
                $("#errUploadedNDAFile").html("<font color='red'>Please Select a file</font>");
                return;
            }
            else {
                $("#errUploadedNDAFile").html("");
            }

            $("#RegisterCustomer").submit();

        }
    </script>

    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Customer Details</h2>
            </div>
            <div class="modal-body">
                <form id="RegisterCustomer" name="RegisterCustomer" action="RegisterCustomer" method="post" enctype="multipart/form-data">

                    <p>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    First Name *
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <input class="form-control valid" name="FirstName" id="FirstName"
                                           type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'"
                                           placeholder="First Name" value="@Model.LoggedInUser.FirstName">
                                    <div id="errFirstName"></div>

                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    Last Name *
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <input class="form-control valid" name="LastName" id="LastName" type="text"
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'"
                                           placeholder="Last Name" value="@Model.LoggedInUser.LastName">
                                </div>
                                <div id="errLastName"></div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    Email Address *
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <input class="form-control valid" name="EmailAddress"
                                           id="EmailAddress" type="email" onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Email Address'" placeholder="Email Address" value="@Model.LoggedInUser.EmailAddress">
                                </div>
                                <div id="errEmailAddress"></div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    Contact Number *
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <input class="form-control valid" name="ContactNumber" id="ContactNumber"
                                           type="tel" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Contact Number'"
                                           placeholder="Contact Number" value="@Model.LoggedInUser.ContactNumber">
                                    <div id="errContactNumber"></div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    User Name *
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <input class="form-control valid" name="UserName" id="UserName" type="text"
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'User Name'"
                                           placeholder="User Name" value="@Model.LoggedInUser.UserName">
                                    <div id="errUserName"></div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    Password *
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <input class="form-control valid" name="Password" id="Password" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" placeholder="Password">
                                    <input type="hidden" id="LoginPropertyId" name="LoginPropertyId" value="@Model.CStoreId" />
                                    <div id="errPassword"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    Re-enter Password *
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <input class="form-control valid" name="RetypePassword" id="RetypePassword" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Re-enter Password'" placeholder="Re-enter Password">
                                    <input type="hidden" id="LoginPropertyId" name="LoginPropertyId" value="@Model.CStoreId" />
                                    <div id="errRetypePassword"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    Upload Signed NDA *
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <input type="file" name="UploadedNDAFile" id="UploadedNDAFile" class="form-control" accept="image/x-png,image/gif,image/jpeg,pdf" onchange="postImage()" />
                                    <div id="errUploadedNDAFile"></div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">

                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <button type="button" class="button button-contactForm boxed-btn" onclick="doRegister()">Register</button>
                                </div>
                            </div>
                        </div>

                    </p>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>
    function doLogin() {
        var uName = $("#UserName").val();
        var pWrod = $("#Password").val();

        if (uName.trim() == '') {
            alert("Please enter user name");
            return;
        }
        if (pWrod.trim() == '') {
            alert("Please enter password");
            return;
        }

        $("#UserLogin").submit();

    }

    function forgotPassword() {
        var baseUrl = "@Url.Action("ForgotPassword", "RealEstate")";
        location.href = baseUrl;
    }
</script>