@model IEnumerable<sams.Models.RoleViewModel>

@using sams.Common;
@{
    UserViewModel loggedInUser = Context.Session.GetObjectFromJson<UserViewModel>("LoggedInAdmin");
}

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}




    <script>
        function addRole(roleId) {
            location.href = "@Url.Action("AddRole", "SamsRole")?roleId=" + roleId;
        }

        function deleteRole(roleId) {
            if (confirm("Do you want to delete Role?")) {
                location.href = "@Url.Action("DeleteRole", "SamsRole")?roleId=" + roleId;
            }
    }

    function goDashboard() {
            var baseUrl = "@Url.Action("Index", "Admin")?propertyType=all";
            location.href = baseUrl;
        }
    </script>



<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Role List</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="javascript:goDashboard()">Home</a></li>
                        <li class="breadcrumb-item active">View Details</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Role List</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-sm text-sm">
                            <thead>
                                <tr>
                                    <th>Role Name</th>
                                    <th>Can Publish Listing</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>@item.RoleName</td>
                                    <td>@item.CanPublishListings</td>
                                    <td>
                                        @if (item.RoleName != "Admin")
                                        {
                                            <button type="button" class="btn btn-success" onclick="addRole(@item.RoleId)"><i class="fas fa-edit"></i></button>
                                            @if (loggedInUser.RolePermission.RolePermissionList.FirstOrDefault(p => p.ModuleId == 12).CanDelete)
                                            {
                                                <button type="button" class="btn btn-danger" onclick="deleteRole(@item.RoleId)"><i class="fas fa-minus-square"></i></button>
                                            }
                                        }

                                    </td>
                                </tr>
                                }



                            </tbody>

                        </table>

                        @if (loggedInUser.RolePermission.RolePermissionList.FirstOrDefault(p => p.ModuleId == 12).CanCreate)
                        {
                            <div class="form-group">
                                <button type="button" class="btn btn-success" onclick="addRole(0)">Add New Role Name</button>
                            </div>
                        }


                    </div>
                    <!-- /.card-body -->



                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->

</div>