@model sams.Models.NetleasePropertiesViewModel

@{
    ViewData["Title"] = "EditNetLeaseProperty";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var latt = sams.Common.Helper.SamsLatitude; // "35.1043081";
    var lonn = sams.Common.Helper.SamsLongitude; // "-80.7123775";

    if (Model.Latitude != null && Model.Longitude != null && Model.Latitude.Trim().Length > 0 && Model.Longitude.Trim().Length > 0)
    {
        latt = Model.Latitude;
        lonn = Model.Longitude;
    }

    var hideAssetTypeDetails = " style=display:none; ";
    var hidePriceDetails = " style=display:none; ";
    //var hideAssetTypeDetails = " style= 'visibility:invisible;'  ";
    var hideAssetTypeDetailsLeaseAndFee = " style=display:none;  ";
    var hideAssetTypeOptionPurchaseDetails = " style=display:none;  ";

    if (Model.NetleasePropertyId == 0)
    {
        Model.AssetTypeId = 2;
    }

    var rentText = "Asking Rent";

    if (Model.AssetTypeId == 1 || Model.AssetTypeId == 6)
    {
        hideAssetTypeDetails = "";
        hidePriceDetails = " style=display:none; ";
        hideAssetTypeOptionPurchaseDetails = " style=display:none; ";
        if (Model.AssetTypeId == 6)
        {
            rentText = "Rent";
        }
    }
    else if (Model.AssetTypeId == 4)
    {
        hideAssetTypeDetails = " style=display:none; ";
        hideAssetTypeDetailsLeaseAndFee = " ";
        hidePriceDetails = " ";
        hideAssetTypeOptionPurchaseDetails = " style=display:none; ";
    }
    else if (Model.AssetTypeId == 5)
    {
        hideAssetTypeDetails = " style=display:none; ";
        hideAssetTypeDetailsLeaseAndFee = " style=display:none; ";
        hidePriceDetails = " style=display:none; ";
        hideAssetTypeOptionPurchaseDetails = " ";
    }
    else
    {
        hidePriceDetails = " ";
    }

    string isBroker = "";
    string hideDiv = " style=display:none; ";
    if (Model.CheckIfPropertyListed == 1)
    {
        isBroker = "checked";
        hideDiv = "  ";


    }

    var hideStatusDateSection = "display:none;";
    var dateStatusText = "";
    if (Model.SelectedPropertyStatusId == 2 || Model.SelectedPropertyStatusId == 3)
    {
        hideStatusDateSection = "";
        if (Model.SelectedPropertyStatusId == 2)
        {
            dateStatusText = "Under Contract Date *";
        }
        else if (Model.SelectedPropertyStatusId == 3)
        {
            dateStatusText = "Closing Date *";
        }
    }

    var hideAssetTypeListNetLease = "display:none;";
    var hideAssetTypeListShoppingCenter = "display:none;";
    if (Model.IsShoppingCenter)
    {
        hideAssetTypeListShoppingCenter = "";
    }
    else
    {
        hideAssetTypeListNetLease = "";
    }
}

<script>

    function saveData() {
        var canSave = true;
        //var selMarketId = $("#MarketName").val();

        var assetId = $("#AssetId").val();
        if (assetId == '') {
            canSave = false;
            $("#errAssetId").html("<font color='red'>Please enter Asset Id</font>");
            $("#AssetId").focus();
            return;
        }
        else {
            $("#errAssetId").html("");
        }

        var city = $("#City").val();
        if (city == '') {
            canSave = false;
            $("#errCity").html("<font color='red'>Please enter City</font>");
            $("#City").focus();
            return;
        }
        else {
            $("#errCity").html("");
        }


        var assetName = $("#AssetName").val();
        if (assetName == '') {
            canSave = false;
            $("#errAssetName").html("<font color='red'>Please enter Listing Header</font>");
            $("#AssetName").focus();
            return;
        }
        else {
            $("#errAssetName").html("");
        }

        var propertyPrice = $("#PropertyPrice").val();

        /*
        if (propertyPrice == '') {
            canSave = false;
            $("#errPropertyPrice").html("<font color='red'>Please enter Price</font>");
            $("#PropertyPrice").focus();
            return;
        }
        else {
            if (capRate == 0) {
                canSave = false;
                $("#errPropertyPrice").html("<font color='red'>Please enter Price</font>");
                $("#PropertyPrice").focus();
                return;
            }
            else {
                $("#errPropertyPrice").html("");
            }

        }
        */

        /*
        var capRate = $("#CapRate").val();
        if (capRate == '') {
            canSave = false;
            $("#errCapRate").html("<font color='red'>Please enter Cap rate</font>");
            $("#CapRate").focus();
            return;
        }
        else {
            $("#errCapRate").html("");
        }
        */

        var statusChangedDate = $("#p_StatusUpdateDate").val();
        if (selPropertyStatus > 1 && statusChangedDate == '') {
            $("#errStatusUpdateDate").html("<font color='red'>Please enter a date</font>");
            return;
        }

        
        $("#frmSaveNetLeaseProperties").submit();
    }

    function viewDetails() {
        location.href = "ViewNetLeaseProperties?propertyId=" + @Model.NetleasePropertyId;
    }

    function viewNetLeaseList() {
        location.href = "Index";
    }

    function getSelectedAssetType() {

        var assetTypeId = $("#selAssetTypeNetLease").val();
        
        if (assetTypeId == 1) {
            $("#divAssetType").show();
            $("#divAskingPrice").hide();
            $("#divCapRate").hide();
            $("#divAssetTypeLeaseAndFee").hide();
            $("#divAssetTypeOptionToPrice").hide();
            $("#lblAskingRent").text("Asking Rent");
        }
        else if (assetTypeId == 4) {
            $("#divAssetType").hide();
            //$("#divAskingPrice").hide();
            //$("#divCapRate").hide();
            $("#divAssetTypeLeaseAndFee").show();
            $("#divAssetTypeOptionToPrice").hide();
        }
        else if (assetTypeId == 5) {
            $("#divAssetType").hide();
            //$("#divAskingPrice").hide();
            //$("#divCapRate").hide();
            $("#divAssetTypeLeaseAndFee").hide();
            $("#divAssetTypeOptionToPrice").show();
        }
        else if (assetTypeId == 6) {
            $("#divAssetType").show();
            $("#divAskingPrice").hide();
            $("#divCapRate").hide();
            $("#divAssetTypeLeaseAndFee").hide();
            $("#divAssetTypeOptionToPrice").hide();
            $("#lblAskingRent").text("Rent");
        }
        else {
            $("#divAssetType").hide();
            $("#divAskingPrice").show();
            $("#divCapRate").show();
            $("#divAssetTypeLeaseAndFee").hide();
            $("#divAssetTypeOptionToPrice").hide();
        }
    }

    function getSelectedAssetTypeShoppingCenter() {
        var assetTypeId = $("#selAssetTypeShoppingCenter").val();
        if (assetTypeId == 1 || assetTypeId == 6) {
            $("#divAssetType").show();
            $("#divAskingPrice").hide();
            $("#divCapRate").hide();
            $("#divAssetTypeLeaseAndFee").hide();
            $("#divAssetTypeOptionToPrice").hide();
        }
        else if (assetTypeId == 4) {
            $("#divAssetType").hide();
            //$("#divAskingPrice").hide();
            //$("#divCapRate").hide();
            $("#divAssetTypeLeaseAndFee").show();
            $("#divAssetTypeOptionToPrice").hide();
        }
        else if (assetTypeId == 5) {
            $("#divAssetType").hide();
            //$("#divAskingPrice").hide();
            //$("#divCapRate").hide();
            $("#divAssetTypeLeaseAndFee").hide();
            $("#divAssetTypeOptionToPrice").show();
        }
        else {
            $("#divAssetType").hide();
            $("#divAskingPrice").show();
            $("#divCapRate").show();
            $("#divAssetTypeLeaseAndFee").hide();
        }
    }

    function checkClientRepresentation() {
        var selected = document.querySelector('[id="radioIsPropertyListed"]:checked')
        if (selected != null) {
            $("#CheckIfPropertyListed").val("1");
            $("#divClientPropertyListed").show();
        }
        else {
            $("#CheckIfPropertyListed").val("0");
            $("#divClientPropertyListed").hide();
        }

    }


    function changeStatus() {
        var stateId = $("#selPropertyStatus").val();
        if (stateId == 2) {
            $("#divStatusChangeDate").show();
            $("#lblStatusUpdateDate").html("Under Contract Date *");
        }
        else if (stateId == 3) {
            $("#divStatusChangeDate").show();
            $("#lblStatusUpdateDate").html("Closing Date *");
        }
        else {
            $("#divStatusChangeDate").hide();
        }

    }


    function getRegionList() {
        var stateId = $("#StateId").val();

        $("select#selRegion").empty();
        $.getJSON(`@Url.Action("GetRegionByStateId", "Region")?stateId=${stateId}`, function (data) {
            $("select#selRegion").append(`<option value="0">--- Select ---</option>`);
            $.each(data, function (i, item) {
                //alert(JSON.stringify(item));
                $("select#selRegion").append(`<option value="${item.id}">${item.name}</option>`);
            });
        });
    }

</script>
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Net Lease Property Details</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="javascript:viewList();">View Details</a></li>
                        <li class="breadcrumb-item active">Edit</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>


    <section class="content">
        <form id="frmSaveNetLeaseProperties" name="frmSaveNetLeaseProperties" asp-action="SaveNetLeaseProperties" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-12">
                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByxJE-OM4Lv77gVdAYJAfKOiDpD6H9ofg&v=3.exp&sensor=false&libraries=places"></script>
                    <script>
                                                    function initialize() {
                                                        var marker;





                                                        var mapOptions = {
                                                            center: new google.maps.LatLng(@latt, @lonn),
                                                            zoom: 17,
                                                            mapTypeId: google.maps.MapTypeId.ROADMAP

                                                        };
                                                        map = new google.maps.Map(document.getElementById('map-canvas'),
                                                            mapOptions);

                                                        var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
                                                        var icon = new google.maps.MarkerImage("http://www.googlemapsmarkers.com/v1/BC03DC/");
                                                        var ig = '../img/map/map_red.png';

                                                        marker = new google.maps.Marker({
                                                            // The below line is equivalent to writing:
                                                            // position: new google.maps.LatLng(-34.397, 150.644)

                                                            /*
                                                            icon: {
                                                                path: google.maps.SymbolPath.CIRCLE,
                                                                scale: 10,
                                                                strokeColor: '#939'
                                                            },
                                                            */
                                                            icon: ig,
                                                            position: { lat: @latt, lng: @lonn },
                                                            map: map
                                                        });

                                                        var input = /** */(document.getElementById('searchTextField'));
                                                        var autocomplete = new google.maps.places.Autocomplete(input);

                                                        autocomplete.bindTo('bounds', map);



                                                        var infowindow = new google.maps.InfoWindow();
                                                        marker = new google.maps.Marker({
                                                            map: map
                                                        });




                                                        google.maps.event.addListener(map, 'click', function (e) {

                                                            marker.setMap(null);

                                                            //Determine the location where the user has clicked.
                                                            var location = e.latLng;

                                                            //Create a marker and placed it on the map.

                                                            marker = new google.maps.Marker({
                                                                position: location,
                                                                map: map
                                                            });

                                                            $("#txtLatitude").val(location.lat());
                                                            $("#txtLongitude").val(location.lng());

                                                            /*
                                                                    marker = map.addMarker(mapOptions).position(new Latlng(31.647316, 74.763791));
                                                            */

                                                            //Attach click event handler to the marker.
                                                            google.maps.event.addListener(marker, "click", function (e) {



                                                                var infoWindow = new google.maps.InfoWindow({
                                                                    //content: 'Latitude: ' + location.lat() + '<br />Longitude: ' + location.lng()
                                                                    content: '@Model.AssetName'
                                                                });



                                                                infoWindow.open(map, marker);

                                                            });

                                                        });


                                                        google.maps.event.addListener(autocomplete, 'place_changed', function () {
                                                            infowindow.close();
                                                            marker.setVisible(false);
                                                            input.className = '';
                                                            var place = autocomplete.getPlace();
                                                            if (!place.geometry) {
                                                                // Inform the user that the place was not found and return.
                                                                input.className = 'notfound';
                                                                return;
                                                            }

                                                            var location = place.geometry.location;

                                                            $("#txtLatitude").val(location.lat());
                                                            $("#txtLongitude").val(location.lng());

                                                            // If the place has a geometry, then present it on a map.
                                                            if (place.geometry.viewport) {
                                                                map.fitBounds(place.geometry.viewport);
                                                            } else {
                                                                map.setCenter(place.geometry.location);
                                                                map.setZoom(17);  // Why 17? Because it looks good.
                                                            }

                                                            marker.setPosition(place.geometry.location);
                                                            marker.setVisible(true);

                                                            var address = '';
                                                            if (place.address_components) {
                                                                address = [
                                                                    (place.address_components[0] && place.address_components[0].short_name || ''),
                                                                    (place.address_components[1] && place.address_components[1].short_name || ''),
                                                                    (place.address_components[2] && place.address_components[2].short_name || '')
                                                                ].join(' ');
                                                            }

                                                            infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address + '<br>' + location.lng() + '<br>' + location.lat());


                                                            infowindow.open(map, marker);
                                                        });

                                                        // Sets a listener on a radio button to change the filter type on Places
                                                        // Autocomplete.
                                                        function setupClickListener(id, types) {
                                                            var radioButton = document.getElementById(id);
                                                            google.maps.event.addDomListener(radioButton, 'click', function () {


                                                                autocomplete.setTypes(types);
                                                            });
                                                        }

                                                        setupClickListener('changetype-all', []);
                                                        setupClickListener('changetype-establishment', ['establishment']);
                                                        setupClickListener('changetype-geocode', ['geocode']);

                                                    }

                                                    google.maps.event.addDomListener(window, 'load', initialize);



                    </script>

                    <div class="card card-info">
                        <div class="card-header @sams.Common.Helper.PrimaryColor">

                            <div class="row">
                                <div class="col-10">
                                    <h3 class="card-title">Address And Map</h3>
                                </div>
                                <div class="col-2">

                                </div>
                            </div>

                        </div>
                        <div class="card-body">

                            <div class="form-group">
                                <input id="searchTextField" name="Address" type="text" class="form-control" value="@Model.Address" />
                            </div>

                            <div id="map-canvas" style="height:400px;width:100%;">

                            </div>


                            <div class="form-group">
                                <input type="hidden" name="Latitude" id="txtLatitude" value="@Model.Latitude" />
                                <input type="hidden" name="Longitude" id="txtLongitude" value="@Model.Longitude" />
                            </div>


                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">

                    


                    <div class="card card-info">
                        <div class="card-header @sams.Common.Helper.PrimaryColor">
                            <h3 class="card-title">Property Details</h3>
                        </div>
                        <div class="card-body">


                            <div class="row">
                                <div class="col-lg-12">

                                    <script>
                                        function limitText() {
                                            var txtHeader = $("#AssetName").val();
                                            var strLength = 40 - txtHeader.length;

                                            $("#errTextIndicator").html("<font color='#1c1c1c'>You can enter " + strLength + " of 40 characters</font>");
                                        }
                                    </script>

                                    <div class="form-group">
                                        <input type="hidden" asp-for="NetleasePropertyId" class="form-control" />
                                        <input type="hidden" asp-for="PdfFileName" class="form-control" />
                                        <label asp-for="AssetId" class="control-label">Asset Id *</label>
                                        <input asp-for="AssetId" class="form-control" />
                                        <div id="errAssetId"></div>

                                    </div>

                                    <div class="form-group">
                                        <label asp-for="AssetName" class="control-label">Listing Header Line 1</label>
                                        <input asp-for="AssetName" class="form-control" maxlength="40"  />
                                        <div id="errAssetName"></div>
                                        <div id="errTextIndicator"><i>You can enter upto 40 characters</i></div>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="PropertyHeaderLine2" class="control-label">Listing Header Line 2</label>
                                        <input asp-for="PropertyHeaderLine2" class="form-control" maxlength="40"  />
                                        <div id="errTextIndicator"><i>You can enter upto 40 characters</i></div>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="NetleaseAssetName" class="control-label">Asset Name</label>
                                        <input asp-for="NetleaseAssetName" class="form-control"  />
                                        
                                    </div>

                                    <div class="form-group" id="divAskingPrice" @hidePriceDetails>
                                        <label asp-for="PropertyPrice" class="control-label">Asking Price</label>
                                        <div class="input-group mb-3">

                                            <input asp-for="PropertyPrice" class="form-control" maxlength="50" />
                                        </div>

                                        <div id="errPropertyPrice"></div>
                                    </div>

                                    <div class="form-group" id="divCapRate" @hidePriceDetails>
                                        <label asp-for="CapRate" class="control-label">Cap Rate</label>
                                        <input asp-for="CapRate" class="form-control" />
                                        <div id="errCapRate"></div>
                                    </div>

                                    <!--
    <div class="form-group">
        <label asp-for="Address" class="control-label">Address</label>
        <input asp-for="Address" class="form-control" />
    </div>
    -->

                                    <div class="form-group">
                                        <label asp-for="City" class="control-label">City *</label>
                                        <input asp-for="City" class="form-control" />
                                        <div id="errCity"></div>
                                    </div>

                                    <div class="form-group">
                                        <label for="selState" class="control-label">Select State</label>
                                        <select id="StateId" name="StateId" class="form-select form-control" onchange="getRegionList()">
                                            @if (Model != null)
                                            {
                                                foreach (var itemSel in Model.StateList)
                                                {
                                                    if (Model.StateId == itemSel.StateId)
                                                    {
                                                        <option selected value="@itemSel.StateId">@itemSel.StateName</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@itemSel.StateId">@itemSel.StateName</option>
                                                    }
                                                }
                                            }

                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="selRegion" class="control-label">Select Region</label>
                                        <select id="selRegion" name="RegionId" class="form-select form-control">
                                            <option value="0">--- Select ---</option>
                                            @if (Model != null)
                                            {
                                                foreach (var itemSel in Model.RegionList)
                                                {
                                                    if (Model.RegionId == itemSel.RegionId)
                                                    {
                                                        <option selected value="@itemSel.RegionId">@itemSel.RegionName</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@itemSel.RegionId">@itemSel.RegionName</option>
                                                    }

                                                }
                                            }

                                        </select>
                                    </div>


                                    <div class="form-group">
                                        <label asp-for="ZipCode" class="control-label">ZIP Code</label>
                                        <input asp-for="ZipCode" class="form-control" />
                                    </div>

                                    <div class="form-group">
                                        <label for="selPropertyStatus" class="control-label">Status</label>
                                        <select id="selPropertyStatus" name="SelectedPropertyStatusId" class="form-select form-control" onchange="changeStatus()">
                                            <option value="0">--- Select ---</option>
                                            @if (Model != null)
                                            {
                                                foreach (var itemSel in Model.propertyStatusList)
                                                {
                                                    if (Model.SelectedPropertyStatusId == itemSel.PropertyStatusId)
                                                    {
                                                        <option selected value="@itemSel.PropertyStatusId">@itemSel.PropertyStatus</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@itemSel.PropertyStatusId">@itemSel.PropertyStatus</option>
                                                    }

                                                }
                                            }

                                        </select>
                                    </div>

                                    @{
                                        //var dtStatusChangedDate = Model.StatusChangedDate == default(DateTime?) ? "" : Model.StatusChangedDate.Value.ToString("yyyy-MM-dd");
                                        var dtStatusChangedDate = Model.StatusChangedDate == default(DateTime?) ? "" : Model.StatusChangedDate.Value.ToString("MM-dd-yyyy");
                                    }


                                    <div class="form-group" style="@hideStatusDateSection" id="divStatusChangeDate">
                                        <label id="lblStatusUpdateDate" for="" class="control-label">@dateStatusText</label>
                                        <!--
                                                        <input type="text" value="dtDDPExtensionDisp" name="DDPExtension" class="form-control" id="p_DDPExtension" readonly />
        -->
                                        <input type="text" name="StatusChangedDate" class="form-control" id="p_StatusUpdateDate" value="@dtStatusChangedDate" readonly />
                                        <div id="errStatusUpdateDate"></div>
                                    </div>


                                    <div class="form-group">
                                        <label asp-for="Details" class="control-label"></label>
                                        <textarea rows="4" asp-for="Details" class="form-control"></textarea>
                                    </div>


                                </div>
                            </div>





                        </div>
                        <!-- /.card-body -->
                    </div>

                    <!-- /.card -->
                </div>









                <div class="col-6">

                    <div class="card card-info">
                        <div class="card-header @sams.Common.Helper.PrimaryColor">
                            <h3 class="card-title">Property Information</h3>
                        </div>
                        <div class="card-body">


                            <div class="row">
                                <div class="col-lg-12">

                                    <script>
                                        $(document).ready(function () {
                                            $('#chkIsShoppingCenter').click(function () {
                                                if (confirm("Changing property type status. Do you want to continue?")) {
                                                    if ($(this).is(":checked")) {
                                                        $("#selAssetTypeShoppingCenter").show();
                                                        $("#selAssetTypeNetLease").hide();

                                                        var assetTypeId = $("#selAssetTypeShoppingCenter").val();
                                                        if (assetTypeId == 1) {
                                                            $("#divAssetType").show();
                                                            $("#divAskingPrice").hide();
                                                            $("#divCapRate").hide();
                                                            $("#divAssetTypeLeaseAndFee").hide();
                                                        }
                                                        else if (assetTypeId == 4) {
                                                            $("#divAssetType").hide();
                                                            //$("#divAskingPrice").hide();
                                                            //$("#divCapRate").hide();
                                                            $("#divAssetTypeLeaseAndFee").show();
                                                        }
                                                        else {
                                                            $("#divAssetType").hide();
                                                            $("#divAskingPrice").show();
                                                            $("#divCapRate").show();
                                                            $("#divAssetTypeLeaseAndFee").hide();
                                                        }
                                                    }
                                                    else if ($(this).is(":not(:checked)")) {
                                                        $("#selAssetTypeShoppingCenter").hide();
                                                        $("#selAssetTypeNetLease").show();

                                                        var assetTypeId = $("#selAssetTypeNetLease").val();
                                                        if (assetTypeId == 1) {
                                                            $("#divAssetType").show();
                                                            $("#divAskingPrice").hide();
                                                            $("#divCapRate").hide();
                                                            $("#divAssetTypeLeaseAndFee").hide();
                                                        }
                                                        else if (assetTypeId == 4) {
                                                            $("#divAssetType").hide();
                                                            //$("#divAskingPrice").hide();
                                                            //$("#divCapRate").hide();
                                                            $("#divAssetTypeLeaseAndFee").show();
                                                        }
                                                        else {
                                                            $("#divAssetType").hide();
                                                            $("#divAskingPrice").show();
                                                            $("#divCapRate").show();
                                                            $("#divAssetTypeLeaseAndFee").hide();
                                                        }
                                                    }
                                                }
                                                
                                            });
                                        });
                                    </script>


                                    <div class="form-group">
                                        <label for="chkIsShoppingCenter" class="control-label">Mark As Shopping Center</label>

                                        <div class="custom-control custom-checkbox">

                                            <input class="custom-control-input" type="checkbox" asp-for="IsShoppingCenter" id="chkIsShoppingCenter">
                                            <label for="chkIsShoppingCenter" class="custom-control-label">Shopping Center</label>
                                        </div>

                                    </div>









                                    <!--
    <div class="form-group">
        <label for="AssetTypeId" class="control-label">Select Asset Type</label>
        <select id="AssetTypeId" name="AssetTypeId" class="form-select form-control">
            @if (Model != null)
            {
                foreach (var itemSel in Model.AssetTypeList)
                {
                    if (Model.AssetTypeId == itemSel.AssetTypeId)
                    {
                        <option selected value="@itemSel.AssetTypeId">@itemSel.AssetTypeName</option>
                    }
                    else
                    {
                        <option value="@itemSel.AssetTypeId">@itemSel.AssetTypeName</option>
                    }
                }
            }

        </select>
    </div>
    -->
                                    
                                <div class="form-group">
                                    <label class="control-label">Select Asset Type</label>
                                    <select id="selAssetTypeNetLease" name="AssetTypeId" class="form-select form-control" onchange="getSelectedAssetType()" style="@hideAssetTypeListNetLease">
                                        @if (Model != null)
                                        {
                                            foreach (var itemSel in Model.AssetTypeList)
                                            {
                                                if (Model.AssetTypeId == itemSel.AssetTypeId)
                                                {
                                                    <option selected value="@itemSel.AssetTypeId">@itemSel.AssetTypeName</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemSel.AssetTypeId">@itemSel.AssetTypeName</option>
                                                }
                                            }
                                        }

                                    </select>
                                    <select id="selAssetTypeShoppingCenter" name="AssetTypeId_ShoppingCenter" class="form-select form-control" onchange="getSelectedAssetTypeShoppingCenter()" style="@hideAssetTypeListShoppingCenter">
                                        @if (Model != null)
                                        {
                                            foreach (var itemSel in Model.AssetTypeListShoppingCenter)
                                            {
                                                if (Model.AssetTypeId == itemSel.AssetTypeId)
                                                {
                                                    <option selected value="@itemSel.AssetTypeId">@itemSel.AssetTypeName</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemSel.AssetTypeId">@itemSel.AssetTypeName</option>
                                                }
                                            }
                                        }

                                    </select>

                                    <div class="card card-info" id="divAssetType" @hideAssetTypeDetails>
                                        <div class="card-body">

                                            <div class="form-group">
                                                <label asp-for="Term" class="control-label">Term</label>
                                                <input asp-for="Term" class="form-control" />
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="AskingRent" class="control-label" id="lblAskingRent">@rentText</label>
                                                <div class="input-group mb-3">

                                                    <input asp-for="AskingRent" class="form-control" />
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <label for="selLeaseType" class="control-label">Lease Type</label>
                                                <select id="selLeaseType" name="LeaseType" class="form-select form-control">
                                                    <option value="0">--- Select ---</option>
                                                    @if (Model != null)
                                                    {
                                                        foreach (var itemSel in Model.LeaseTypeList)
                                                        {
                                                            if (Model.LeaseType == itemSel.LeaseTypeId)
                                                            {
                                                                <option selected value="@itemSel.LeaseTypeId">@itemSel.LeaseType</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@itemSel.LeaseTypeId">@itemSel.LeaseType</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>

                                        </div>
                                    </div>



                                    <div class="card card-info" id="divAssetTypeLeaseAndFee" @hideAssetTypeDetailsLeaseAndFee>
                                        <div class="card-body">

                                            <div class="form-group">
                                                <label asp-for="TermRemaining" class="control-label">Term Remaining</label>
                                                <input asp-for="TermRemaining" class="form-control" />
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="RentalIncome" class="control-label">Rental Income</label>

                                                <div class="input-group mb-3">
                                                    <!--<input asp-for="RentalIncome" class="form-control" onkeypress="return numericFilter(event);" />-->
                                                    <input asp-for="RentalIncome" class="form-control" />
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <label for="selLeaseTypeLeaseAndFee" class="control-label">Lease Type</label>
                                                <select id="selLeaseTypeLeaseAndFee" name="LeaseTypeLeaseAndFee" class="form-select form-control">
                                                    <option value="0">--- Select ---</option>
                                                    @if (Model != null)
                                                    {
                                                        foreach (var itemSel in Model.LeaseTypeList)
                                                        {
                                                            if (Model.LeaseTypeLeaseAndFee == itemSel.LeaseTypeId)
                                                            {
                                                                <option selected value="@itemSel.LeaseTypeId">@itemSel.LeaseType</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@itemSel.LeaseTypeId">@itemSel.LeaseType</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>



                                        </div>
                                    </div>

                                    <div class="card card-info" id="divAssetTypeOptionToPrice" @hideAssetTypeOptionPurchaseDetails>
                                        <div class="card-body">

                                            <div class="form-group">
                                                <label asp-for="TermOptionPurchase" class="control-label">Term</label>
                                                <input asp-for="TermOptionPurchase" class="form-control" />
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="AskingRentOptionPurchase" class="control-label">Asking Rent</label>
                                                <div class="input-group mb-3">
                                                    <input asp-for="AskingRentOptionPurchase" class="form-control" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="selLeaseTypePurchase" class="control-label">Lease Type</label>
                                                <select id="selLeaseTypePurchase" name="LeaseTypePurchase" class="form-select form-control">
                                                    <option value="0">--- Select ---</option>
                                                    @if (Model != null)
                                                    {
                                                        foreach (var itemSel in Model.LeaseTypeList)
                                                        {
                                                            if (Model.LeaseTypePurchase == itemSel.LeaseTypeId)
                                                            {
                                                                <option selected value="@itemSel.LeaseTypeId">@itemSel.LeaseType</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@itemSel.LeaseTypeId">@itemSel.LeaseType</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="OptionPurchasePrice" class="control-label">Option Purchase Price</label>
                                                <div class="input-group mb-3">
                                                    <input asp-for="OptionPurchasePrice" class="form-control" maxlength="50" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    

                                </div>


                                    <!--
    <div class="form-group">
        <label asp-for="Term" class="control-label">Term</label>
        <input asp-for="Term" class="form-control" />
        <div id="errAddress"></div>
    </div>
    -->

                                    <input asp-for="Term" class="form-control" type="hidden" />

                                    <div class="form-group">
                                        <label for="UploadedPdf" class="control-label">Upload Brochure as Pdf/Image</label>
                                        <input type="file" id="UploadedPdf" name="UploadedPdf" class="form-control" />

                                    </div>







                                </div>


                            </div>





                        </div>
                        <!-- /.card-body -->
                    </div>


                    <div class="card card-info ">
                        <div class="card-header @sams.Common.Helper.PrimaryColor">
                            <div class="row">
                                <div class="col-12">
                                    <div class="icheck-success d-inline">
                                        <input type="checkbox" name="ddpExtensionNotApplicable" id="radioIsPropertyListed" onchange="checkClientRepresentation(this.value)" @isBroker>
                                        <label for="radioIsPropertyListed">
                                            Check If Property Is Listed
                                        </label>
                                        <input type="hidden" asp-for="CheckIfPropertyListed" class="form-control" />
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div class="card-body" id="divClientPropertyListed" @hideDiv>

                            <div class="form-group">
                                <label asp-for="ListingAgentName" class="control-label">Listing Agent Name</label>
                                <input asp-for="ListingAgentName" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="p_ListingExpiry" class="control-label">Listing Expires</label>
                                <input name="ListingExpiry" value="@Model.ListingExpiry" id="p_ListingExpiry" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label asp-for="ListingPrice" class="control-label">Listing Price</label>
                                <div class="input-group mb-3">
                                    
                                    <input asp-for="ListingPrice" class="form-control" maxlength="50" />
                                </div>
                                
                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>

                    <!-- /.card -->
                </div>








            </div>
        </form>











        











        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">

                    <div class="g-recaptcha" data-callback="recaptchaCallback" data-expired-callback="recaptchaExpired" data-sitekey="6LfvxeoUAAAAACsNl3jhrj7nuYoWLcRjKfJzG4FL"></div>
                </div>
                <div class="form-group">
                    <input type="button" id="btnSave" value="Save Changes" class="btn btn-primary" onclick="saveData();" />

                    @if (Model.NetleasePropertyId == 0)
                    {
                        <input type="button" id="btnList" value="Cancel Edit" class="btn btn-success" onclick="viewNetLeaseList();" />
                    }
                    else
                    {
                        <input type="button" id="btnList" value="Cancel Edit" class="btn btn-success" onclick="viewDetails();" />
                    }

                </div>
            </div>

        </div>

    </section>
</div>

